.north{
	height: 60px;
	background-color: #1B668E;
}
.west{
	width: 160px;
}
.center{
	background-color: #eee;
}
#logo{
	float: left;
}
#logo h1{
	color: #fff;
	font: 700 20px "微软雅黑";
	margin-left: 35px;
}
#logout{
	float: right;
	height: 50px;
	line-height: 50px;
	margin-right: 30px;
}
#logout span{
	font: 14px "微软雅黑";
	color: #ccc;
	margin-right: 10px;
}
#logout a{
	color: #fff;
	text-decoration: none;
}
#logout a:hover{
	text-decoration: underline;
}
#tabs{
	
}
#tab1{
}
#tab1 table{
	
}
#tb{
	padding: 5px 5px 5px 10px;
}
.toolbox a {
	margin: 0 20px;
}
#tb p{
	display: inline-block;
	margin-right: 15px;
}
.textbox{
	height: 20px;
	margin: 0;
	padding: 0 2px;
	box-sizing:content-box;
}

